<div class="content">
  <p class="mb-5">
    “Trabajé con raspberry pi en el año 2016, he hice uso del sistema operativo
    <b>Raspbian</b>, y mediante una cámara y el uso de <b>PYTHON</b> y <b>OPENCV</b>,
    realicé el prototipo de un robot, que se ve en la siguiente imagen, el cual
    seguía al color que se le indicara: verde o rojo, detectando al objeto más cercano
    según el área detectada.
    Enviándole las indicaciones a un arduino, si debía moverse a la derecha o izquierda
    de forma suave o fuerte, dependiendo de la posición que tuviese el objeto en
    referencia a la cámara”.
</p>
<!-- Portfolio Modal - Image-->
<img class="img-fluid rounded mb-5" src="assets/raspberry/Drenber.jpg"
    alt="Robot seguidor de color" />
<!-- Portfolio Modal - Text-->
<p class="mb-5">
    “En la siguiente imagen se observa los datos reales que recibe la cámara de la
    raspberry pi, y abajo el filtrado que realiza el sistema, para solo reconocer el
    color que desea encontrar, indicando el área de este y su posición con respecto al
    centro”.
</p>
<!-- Portfolio Modal - Image-->
<img class="img-fluid rounded mb-5" src="assets/raspberry/VistaOpenCv.jpg"
    alt="Vista de openCV" />
<!-- Portfolio Modal - Text-->
<p class="mb-5">
    “Se trabajar con la raspberry de forma remota, tanto por consola (SSH) como por
    interfaz gráfica (VPN). Ademas, he hecho uso de la raspberry pi para diferentes
    funciones según sean mis necesidades, por ejemplo: hice uso del sistema operativo
    <b>Screenly</b> en una ocasión en la que necesitaba presentar videos y fotos de
    forma
    repetitiva en Calama.”
</p>
<p class="mb-5">
    “En la siguiente imagen se puede observar la instalación del sistema operativo
    recallbox en la raspberry pi, solo con fines recreativos.”
</p>
<img class="img-fluid rounded mb-5" src="assets/raspberry/RetroPie.jpeg"
    alt="RetroPie" />
  <div class="content">
    <button mat-button routerLink="/proyecto" style="cursor: pointer">
      <mat-icon>arrow_back_ios</mat-icon> Volver
    </button>
  </div>
</div>
