.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav-container {
  flex: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

svg#clouds {
  position: fixed;
  bottom: 50px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: -50px;
  right: 180px;
  z-index: -10;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
