<router-outlet></router-outlet>
<div [hidden]="route.children.length !== 0">
  <div class="content">
    <h1>Proyectos</h1>
    <div>
      <mat-card>
        <button mat-icon-button routerLink="/proyecto/fullstack/backend" style="cursor: pointer">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Back-end</span>
        </button>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card>
        <button mat-icon-button routerLink="/proyecto/fullstack/frontend" style="cursor: pointer">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Front-end</span>
        </button>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card>
        <button
          mat-icon-button
          routerLink="/proyecto/electronica/titulacion"
          style="cursor: pointer"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <span> Control de altura</span>
        </button>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card>
        <button
          mat-icon-button
          routerLink="/proyecto/electronica/arduino"
          style="cursor: pointer"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <span>Arduino</span>
        </button>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card>
        <button
          mat-icon-button
          routerLink="/proyecto/electronica/raspberry"
          style="cursor: pointer"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <span>Raspberry</span>
        </button>
      </mat-card>
    </div>
  </div>
  <div class="content">
    <button mat-button routerLink="/" style="cursor: pointer">
      <mat-icon>arrow_back_ios</mat-icon> Volver
    </button>
  </div>
</div>
