.content {
  margin: 32px 15% 32px;
  padding: 0 16px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .content {
    margin: 82px 10% 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

}
